.root {
  margin: 10px 0;

  transition: margin 50ms ease-in-out;
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.553);
  display: flex;
  flex-direction: column;
}

.title {
  padding: 1px 4px;
  background-color: lightskyblue;
  border-bottom: 1px solid black;
}

.content {
  padding: 4px 4px;
  flex: 1;
}
