.tree-view {
}

.header {
  display: flex;
  flex-direction: row;  
}

.caret {
  align-self: center;
  font-size: 13px;
  width: 10px;
  color: black;
  margin-right: 6px;
  user-select: none;
  cursor: pointer;
}

.caretDown {
  /* transform: rotate(90deg); */
}

.headerContent{
  flex:1
}
.children {
  margin-left: 6px;
  padding-left: 30px;
  border-left: 1px dashed gray;
}

.childrenHidden {
  display: none;
}
