.root {
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4;
  transition: margin 50ms ease-in-out;
}

.root:hover {
  /* margin-left: 10px; */
  /* border-left-style: dotted; */
}
.root:active {
  /* margin-left: 10px; */
}
.hidden {
  background-color: rgb(235, 235, 235);
  border-color: rgb(183, 183, 183);
}

