.root {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.selector {
}

.dropZone {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px dashed black;
  cursor: pointer;
}

.dropZone:hover {
  background-color: gray;
}
