.App {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  background-color: #f1f1f1;
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-main {
  grid-area: main;
  text-align: start;
  height: 100%;
  overflow-y: auto;
}

.App-footer {
  grid-area: footer;
  background-color: #282c34;
  display: flex;
  padding: 5px 10px;
  color: white;
  font-size: 10px;
}

/* ------------------------------------------------------- */

.box {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.553);
}

.editor-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100%;

  max-width: 1400px;
  margin: auto;
}

.player {
  margin: 5px;
  width: 400px;
  display: flex;  
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.editor {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: hidden;
}

.editor-selector {
}

.editor-editor {
  flex: 1;
  overflow-y: auto;
}
