.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------- */
main {
  text-align: start;
}
.editor-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.player {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  width: 400px;
}

.editor {
  flex: 1;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.editor-selector {
}

.editor-editor {
  max-height: 500px;
  overflow-y: scroll;
}
